<%- include("partials/newAuthor_header.ejs") %>
  <body>
    <div id="content">
      <div id="menu">
        <div id="blank"></div>
        <a class="menu-item" href="/">Home</a><br>
        <a class="menu-item" href="/quote/new">Add Quotes</a><br>
        <a class="menu-item" href="/authors">List Authors </a><br>
        <a class="menu-item" href="/quotes">List Quotes</a>
      </div>
      <div id="context">
        <div id="page-title">
          <h1 id="title">Adding a new Author</h1>
        </div>
        <form class="forms" method="POST" action="/author/new">
          <span class="item-title">First Name:</span>
          <input type="text" name="fName" class="names"><br>
          <span class="item-title">Last Name:</span>
          <input type="text" name="lName" class="names"><br>
          <span class="item-title">Sex:</span>  
          <input type="radio" name="sex" value="M"> Male
          <input type="radio" name="sex" value="F"> Female
          <br>
          <span class="item-title">Date of Birth:</span>
          <input type="date" name="birthDate"><br>
          <span class="item-title">Date of Death:</span>
          <input type="date" name="deathDate"><br>
          <span class="item-title">Country:</span>
          <input type="text" name="country" id="country"><br>
          <span class="item-title">Portrait URL:</span>
          <input type="text" name="portrait" id="portrait"><br>
          <span class="item-title">Profession:</span>
          <input type="text" name="profession" id="profession"><br>
          <span class="item-title">Biography:</span>
          <br>
          <textarea type="text" cols="40" rows="5" maxlength="500" name="biography" id="biography"></textarea>
          <br>
          <button id="add-button">Add Author</button>
          <br>
        </form>
        <% if (typeof message != "undefined") { %>
          <div id="process-message"><%= message %></div><br>
        <% } %>
        <form id="back" action="/">
          <button id="back-button">Back</button>
        </form>
        <span>
          <%- include("partials/footer.ejs") %>
        </span>
      </div>
      <div class="border"></div>
    </div>
  </body>
</html>
